<ActionBar title="Add New Plant" class="action-bar">
  </ActionBar>

<StackLayout>
  <GridLayout rows="auto, *, auto">
    <Image row="0" stretch="aspectFill" src="res://imgph"></Image>
    <GridLayout row="1" rows="auto, auto, auto, auto, auto" columns="*, *">
      <Label row="0" col="0" text="Planted"></Label>
      <Label row="0" col="1" text="date planted"></Label>
      <Label row="1" col="0" text="Planted"></Label>
      <Label row="1" col="1" text="date planted"></Label>
      <Label row="2" col="0" text="Planted"></Label>
      <Label row="2" col="1" text="date planted"></Label>
      <Label row="3" col="0" text="Planted"></Label>
      <Label row="3" col="1" text="date planted"></Label>
      <Label row="4" col="0" text="Planted"></Label>
      <Label row="4" col="1" text="date planted"></Label>
    </GridLayout>
    <Image row="2" stretch="aspectFill" src="res://imgph"></Image>
  </GridLayout>
</StackLayout>
