<ActionBar title="My GreenPatch" class="action-bar">
</ActionBar>

<StackLayout>
  <!-- <SearchBar id="searchBar" hint="Search plant" submit="onSubmit"></SearchBar> -->
  <GridLayout rows="*, 75">
    <ListView *ngIf="!zeroPlants" row="0" [items]="plants" class="list-group">
      <ng-template let-plant="item">
        <StackLayout orientation="horizontal" (tap)="selectPlant(plant)">
        <Label [text]="plant.name" class="list-group-item"></Label>
        <Button class="fa" [text]="'fa-trash' | fonticon" (tap)="deletePlant(plant)"></Button>
        </StackLayout>
      </ng-template>
    </ListView>
    <Label *ngIf="zeroPlants" row="0" text="You've got to plant some plants!"></Label>
    <StackLayout row="1">
      <Button class="btn btn-primary btn-active" text="Add new plant" [nsRouterLink]="['/add-plant']"></Button>
    </StackLayout>
  </GridLayout>
</StackLayout>
