Label {
    margin: 15px;
    font-size: 18;
    text-align: center;
}

#profileImage {
    background-color: black;
}

.stackDetailsTitle {
    margin: 0;
}

.stackDetailsSubtitle {
    margin: 0, 0, 15, 0;
}

.details {
    color: #236d02;
}