<ActionBar roboto-bold="{{plant.name | uppercase}}" class="action-bar">
</ActionBar>

<StackLayout>
<GridLayout rows="200, auto, auto">
  <Image id="profileImage" row="0" src="res://imgph"></Image>
  <GridLayout row="1" rows="auto, auto, auto, auto" columns="*, *">
    <Label row="0" col="0" colspan="2" class="green-accent roboto-bold stackDetailsTitle" padding="5" fontSize="25" text="{{plant.name | uppercase}}"></Label>
    <StackLayout row="1" col="0" marginTop="15">
      <Label class="roboto-bold stackDetailsTitle details" text="Planted"></Label>
      <Label class="roboto-italic stackDetailsSubtitle details" text="{{plant.datePlanted | date}}"></Label>
    </StackLayout>
    <StackLayout row="1" col="1" marginTop="15">
      <Label class="roboto-bold stackDetailsTitle details" row="1" col="0" text="Expected harvest"></Label>
      <Label class="roboto-italic stackDetailsSubtitle details" row="1" col="1" text="{{plant.dateHarvest | date}}"></Label>
    </StackLayout>
    <StackLayout row="2" col="0">
      <Label class="roboto-bold stackDetailsTitle details" row="2" col="0" text="Last time watered"></Label>
      <Label class="roboto-italic stackDetailsSubtitle details" row="2" col="1" text="{{plant.datePlanted | date}}"></Label>
    </StackLayout>
    <Button row="2" col="1" class="btn btn-active green-accent" text="Update"></Button>
    <Button row="3" col="0" class="btn btn-active green-accent" text="Water Reminder"></Button>
    <Button row="3" col="1" class="btn btn-active green-accent" text="Image Galery"></Button>
  </GridLayout>
  <StackLayout row="2">
    <GridLayout rows="auto" columns="auto, *, 40" class="green-accent">
      <Label col="0" class="roboto-bold" padding="5" fontSize="25" text="NOTES"></Label>
      <Label col="1"></Label>
      <Label col="2" class="fa" [text]="'fa-plus' | fonticon" verticalAlignment="center" (tap)="addNote()"></Label>
    </GridLayout>
  </StackLayout>
</GridLayout>
</StackLayout>